body {
  background-color: #3e3e3e;
  color: white;
  font-size: 30px;
  overflow: hidden;
}

a {
  color: #61dafb;
  text-decoration: none;
  margin: 20px;
}

.green {
  background-color: green;
  
}

.red {
  background-color: red;
  
}
.blue {
  background-color: blue;
  
}

.mySwiper{
  background: #c7c7de;
}

.manga {
  background: #3f3fad;
  padding: 50px;
}